*{
    color: black;
    padding: 0px;
    margin: 0px;
    
}

.outer{
    width: 700px;
    height: 800px;
    border: 1px ;
    margin: 0px auto;
}
.outer h1{
    text-align: center;
}
p{
    font-size: 17px ;
}
ul{
    font-size: 17px;
    margin-left: 20px;
}
.objective{
    font-size: 20px;
}
h3{
    float: right;
}
